<div class="table-detail">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="dd" id="nestable">
                <ol class="dd-list">
                    <li class="dd-item" data-id="5">
                        <button data-action="collapse" type="button">Collapse</button>
                        <button data-action="expand" type="button" style="display: none;">Expand</button>
                        <div class="dd-handle">
                            Item 5
                            <div class="pull-right action-buttons">
                                <a class="blue" href="#">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" href="#">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>
                        </div>
                        <ol class="dd-list">
                            <li class="dd-item item-orange" data-id="6">
                                <div class="dd-handle"> Item 6 </div>
                            </li>
                            <li class="dd-item item-red" data-id="7">
                                <div class="dd-handle">Item 7</div>
                            </li>
                            <li class="dd-item item-blue2" data-id="8">
                                <div class="dd-handle">Item 8</div>
                            </li>
                        </ol>
                    </li>
                    <li class="dd-item" data-id="9">
                        <div class="dd-handle btn-yellow no-hover">Item 9</div>
                    </li>
                    <li class="dd-item" data-id="10">
                        <div class="dd-handle">Item 10</div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="space visible-xs"></div>
            <h4 class="header blue lighter less-margin">Send a message to Alex</h4>
            <div class="space-6"></div>
            <form>
                <fieldset>
                    <textarea class="width-100" resize="none" placeholder="Type something…"></textarea>
                </fieldset>
                <div class="hr hr-dotted"></div>
                <div class="clearfix">
                    <label class="pull-left">
                        <input type="checkbox" class="ace">
                        <span class="lbl"> Email me a copy</span>
                    </label>
                    <button class="pull-right btn btn-sm btn-primary btn-white btn-round" type="button">
                        Submit
                        <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>