<uib-alert type="danger" close="alert.close(0)" ng-if="error" >
    <strong><i class="ace-icon fa fa-times"></i> 操作失败!</strong>
    {{error}}.
</uib-alert>

<div class="col-sm-12">
    <div widget-box class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="fa fa-question-circle orange"></i>
                {{question.Title}}
            </h4>
            <div class="widget-toolbar">
                <a href="" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <div class="space-2"></div>
                
                <div class="comments" ace-scroll options="{'size': 300}">
                    <div class="itemdiv commentdiv">
                        <div class="user" ng-if="question.UserAvatar">
                            <img alt="{{question.UserName}}'s Avatar" ng-src="{{question.UserAvatar}}" />
                        </div>
                        
                        <div class="body">
                            <div class="name"><a href="" ng-bind="question.UserName"></a></div>
                            <div class="time"><i class="ace-icon fa fa-clock-o"></i> <span class="green" ng-bind="question.AskTime | date: 'yyyy-MM-dd HH:mm'"></span></div>
                            <div class="text">
                                <i class="ace-icon fa fa-quote-left"></i> <span ng-bind="question.Question"></span> 
                                <i class="ace-icon fa fa-quote-right" style="color:#DCE3ED;margin-left:4px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div><!-- /.widget-box -->
    
    <form ng-if="question.Status == Enum.UserQuestionStatus.NotResolved.Key">
        <div class="form-actions">
            <div class="input-group">
                <input placeholder="请您对该问题进行回复 ..." type="text" class="form-control" name="message" ng-model="question.Answer" />
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-info no-radius" type="button" ng-click="replyQuestion()"><i class="ace-icon fa fa-share"></i> 回复</button>
                </span>
            </div>
        </div>
    </form>
</div><!-- /.col -->